.container-dashboard {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
.logo {
  width: 136px;
}
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 78px;
}

header {
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.menu-item {
  font-size: 18px;
  font-weight: 300;
  padding: 50px;
  color: #333333;
}

.menu-item li:hover {
  color: #633cff;
}
.container-item img:hover {
  color: #633cff;
}

.menu-item-left {
  text-align: left;
  margin-top: -7px;
}

.menu-item-center {
  display: flex;
}
.menu-item-center li {
  color: var(--Grey, #737373);
  /* Heading S */
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 150%; /* 24px */
  list-style: none;
}

.menu-item-right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}
.menu-item-right button {
  width: 114px;
  height: 46px;
  background-color: #fff;
  color: #633cff;
  border-radius: 8px;
  border: solid 1px #633cff;
}
#campos {
  display: block;
  justify-content: center;
  width: 100%;
}
select {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
}
.title-campos {
  color: var(--Grey, #737373);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
label {
  padding: 10px 0px 10px;
}
.link {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
}
.menu-item-right button:hover {
  background-color: #efebff;
}

.container-item svg {
  width: 20px;
  height: 20px;
}

img {
  width: 100%;
}

.container-item {
  display: flex;
  padding: 11px 50px;
  align-items: center;
  text-align: center;
  gap: 8px;
  position: relative;
}
.container-option {
  display: flex;
  padding: 11px 50px;
  align-items: center;
  text-align: center;
  gap: 8px;
  position: relative;
}



.custom-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.custom-select option {
  display: block;
  height: 100px;
  font-size: 18px;
  padding: 28px;
}

.input-icon-dash {
  position: absolute;
  width: 20px;
  left: 20px; /* Ajuste conforme necessário para a posição desejada */
  color: #555; /* Cor do ícone */
}

.container-body {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.container-left-tablet {
  width: 500px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.a-custom-select {
  display: flex;
  height: 34px;
  padding: 8px 68px;
  margin-top: -1px;
  align-items: center;
  color: white;
  border-radius: 6px;
  align-self: stretch;
  margin-left: 25px;
  margin-bottom: 20px;
}

.container-rigth-form {
  display: flex;
  padding: 40px;
  padding-top: 0px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.container-rigth-form h1 {
  color: var(--Dark-Grey, #333);
  /* Heading M */
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.img-smart-phone {
  width: 250px;
  display: flex;
}

.button-new-link {
  background-color: white;
  border: #633cff solid 1px;
  color: #633cff;
  height: 46px;
  border-radius: 10px;
  margin-top: 20px;
}

.button-new-link:hover {
  background-color: #efebff;
}

.container-add {
  display: block;
  text-align: center;
  width: 100%;
  padding: 30px;
}

.container-add h1 {
  font-size: 20px;
  padding-top: 30px;
}
.container-add p {
  width: 100%;
}
.illustration-empt {
  width: 140px;
}
.container-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}
.button-save {
  width: 91px;
  height: 46px;
  border-radius: 8px;
  position: relative;
  float: right;
}
.button-save:hover {
  background-color: #beadff;
}
.input-red {
  background-color: red;
}

.container {
  display: flex;
  flex-direction: column; /* Empilha as divs verticalmente */
  align-items: center; /* Centraliza no eixo transversal (vertical) */
  justify-content: center; /* Centraliza no eixo principal (horizontal) */
}

.links-container,
.celular-container {
  margin: 0px; /* Adicione margem conforme necessário */
}

/* Adicione outros estilos conforme necessário */

.links-container {
  display: flex;
  z-index: 1;
  margin-top: -284px;
}
form {
  display: flex;
  width: 100%;
}
.conteudo-inputs-label {
  display: flex;
  height: 180px;
}

.label {
  padding: 3px;
  display: flex;
  flex-direction: column;
  color: var(--Grey, #737373);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.label2 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: var(--Grey, #737373);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

input[type="file"] {
  display: flex;
  padding: 61px 38px 60px 39px;
  width: 200px;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.style-p {
  color: var(--Purple, #633cff);
  /* Heading S */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.container-upload {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-upload {
  gap: 30px;
  height: 130px;
}

.container-upload h3 {
  color: var(--Grey, #737373);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  gap: 30px;
  display: inline;
  width: 250px;
}

.custom-file-upload {
  display: inline-block;
  padding: 0px 0px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  overflow: hidden;
  height: 181px;
  width: 160px;
}

.preview-container {
  display: flex;
  overflow: hidden;
  height: 100%;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  border-style: none;
  background: var(--Light-Purple, #efebff);
}

.icon {
  width: 100%;
  height: 36%;
}

.custom-file-upload span {
  vertical-align: top;
}

.custom-file-upload input {
  display: none;
}

p {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 20px;
  color: #737373;
  margin-top: -10px;
}

.padding-label {
  padding: 3px;
  display: flex;
  flex-direction: column;
  color: var(--Grey, #737373);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.marcado {
  border-radius: 8px;
  color:  #efebff;
  background-color: #633cff;
}

#item-select {
  color: white;
}

input[type="text"],
input[type="email"], .email {
  width: 396px;
  height: 48px;
  padding: 8px 15px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  box-sizing: border-box;
}

.inputs-profile {
  margin-top: 10px;
}

.ImagemConvertida {
  display: flex;
  width: 76px;
  height: 76px;
  border-radius: 52%;
  position: absolute;
  text-align: center;
  margin: 54px;
  margin-left: 86px;
}

.data-container {
  position: absolute;
  width: 256px;
  display: flex;
  justify-content: center;
  height: 342px;
  align-items: center;
  flex-direction: column;
}

.data-container h1 {
  color: var(--Dark-Grey, #333);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  margin-bottom: 3px;
}


#lastName {
  color: var(--Grey, #737373);
font-size: 14px;
font-style: normal;
font-weight: 100;
line-height: 150%; /* 21px */
}